<html>
<head>
<style>
a {
	color: blue;
	text-decoration: none;
	font-size: 20pt;
}
a:hover {
	color: red;
}
</style>
</head>
<body bgcolor='#eee'>
<center>
<table width='40%'>
$LINKS
</table>
</center>
</body>
</html>
