<html>
<head>
<style>
a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 24pt;
	font-family: Arial;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}
a:hover {
	color: red;
}
.container {
	position: relative;
}
.bottom-text {
	position: relative;
	text-align: center;
	bottom: 40px;
}
</style>
</head>
<body bgcolor='#eee'>
<center>
<table width='40%'>
$ENTRIES
</table>
</center>
</body>
</html>
